name: Test Install Script

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-installation:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Make install.sh executable
      run: chmod +x ./install.sh

    - name: Run install.sh
      run: ./install.sh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
